$primaryColour: #f7f7f7;
$secondaryColour: #ffffff;
$white: white;
$lightColour: black;
$activeColour: #259FCB;
$errorColour: #e83b3b;
$colourBodyText:$lightColour;
$colourBodyBackground: $primaryColour;
$darkerBlue: darken($activeColour,15%);
$primaryFontStack: 'orkney', 'Arial', sans-serif;