.container {
  max-width: 900px;
  width: 100%;
}

/* Page Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  font-size: 62.5%
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: $primaryFontStack;
  font-weight: 400;
  font-size: 1.6rem;
}

h1,
h2,
h3 {
  color: $lightColour;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 2rem;
  max-width: 680px;
}

h1,
h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 16px;
  margin-bottom: 2rem;
  font-weight: 400;
}

.reset-choices{
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  color: $lightColour;
  margin: 2rem 0;
  display: none;
  
  &.active{
    display: block;
  }
}

@media screen and (min-width: 48rem) {

  h1,
  h2 {
    font-size: 3.2rem;
    line-height: 4.2rem;
    padding-right: 60px;
  }

  h3 {
    font-size: 3rem;
  }

  p {
    font-size: 16px;
  }
}


.right {
  float: right;
}

.page-wrapper {
  min-height: 100vh;
  width: 100vw;
  align-items: center;
}

#questions{
  width: 100%;
}
#question-ui{
    width: 100%;
}

.section-question {
  @include flexbox();
  text-align: left;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 15px;
  padding-top: 40px;

  @media screen and (min-width: 48rem) {
    justify-content: center;
    padding: 10px;
    padding-top: 100px;
  }
}

header,
footer,
.section-question {
  flex-shrink: 0;
}

.flex-column {
  @include flexbox();
  min-height: 100%;
  flex-direction: column;
  align-items: stretch;
}

//buttons
.btn-container-a {
  width: 49%;
  float: left;
}

.btn-container-b {
  width: 49%;
  float: right;
  text-align: right;
}

.btn,
.btn--light,
.btn--cta,
.btn--keyline,
.btn--active {
  font-size: 1.6rem;
  padding: 1rem 4rem 1rem;
  margin: 1.6rem 0;
  display: inline-block;
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

.btn--light {
  background: $white;
  color: $secondaryColour;
  border: $lightColour 1px solid;

  &:hover {
    border: $activeColour 1px solid;
    background: $activeColour;
    color: $white;
  }
}

.btn--cta{
  background: $white;
  color: $secondaryColour;
  border: $lightColour 1px solid;
  margin: 1.2rem 0.8rem;
  padding: 1.3rem 3rem 1rem;
  min-width: 260px;

  &.blue{
    color: $white;
    background: $activeColour;
    border: $activeColour 1px solid;
  }
}

.btn--keyline {
  color: $lightColour;
  border: $lightColour 1px solid;

  &:hover {
    background: #4C5259;
  }
}

.btn--active {
  border: $activeColour 1px solid;
  color: $white;
  background: $activeColour;
}

.error-msg {
  display: none;
  background: $errorColour;
  color: $lightColour;
  border-radius: 3px;
  font-size: 1.6rem;
  padding: 1.5rem 2.5rem;
  line-height: 1.25;
  margin: 0 auto 2rem;
  position: relative;
  text-align: center;

  &--enabled{
    display:inline-block;
  }
}
.other-wrapper{
  display: none;
  padding: 20px 20px 0px;
  margin: 2rem auto;
  background-color: rgba(34,38,44, 0.8);  
  @media screen and (min-width: 48rem) {
    padding: 20px 30px 10px;
  }
  p{
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
  }
  &.show{
    display: block;
  }
  textarea{
    width: 100%;
    font-size: 1.6rem;
    min-height: 120px;
    padding: 20px 20px;
    background: $white;
    line-height: 1.5;
    color: $secondaryColour;
    border: none;
    margin-bottom: 1.5rem;
    outline: none;
    resize: none;
  }
}

.inactive {
  opacity: 0.5;
  pointer-events: none;
}

hr {
  margin: 50px auto;
  width: 50px;
}


/* Overwrites
–––––––––––––––––––––––––––––––––––––––––––––––––– */
