/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
    font-family:"Orkney-Regular";
    src:url("./orkney-regular.woff2") format("woff2"),url("./orkney-regular.woff") format("woff"),url("./orkney-regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
@font-face {
    font-family:"Orkney Bold";
    src:url("./orkney-bold.woff2") format("woff2"),url("./orkney-bold.woff") format("woff"),url("./orkney-bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}

/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$primaryColour: #393F47;
$secondaryColour: #22262C;
$white: white;
$lightColour: #ffffff;
$activeColour: #259FCB;
$errorColour: #e83b3b;
$colourBodyText:$lightColour;
$colourBodyBackground: $primaryColour;
$darkerBlue: darken($activeColour,15%);
$primaryFontStack: 'orkney', 'Arial', sans-serif;

// @import './_lightTheme';