ul.select-answers {
  padding: 0;
  margin: 0 auto;
  position: relative;

  @include list-container;

  li {
    width: 100%;
    margin: .5rem 0;
    @include btn-questions;
    height: auto;
    font-size: 1.4rem;
    padding: 2rem .5rem 2rem 3rem;

    @media screen and (min-width: 48rem) {
      height: 86px;
      margin: 1rem 0;
      font-size: 1.6rem;
      padding: 0 2rem 0 4rem;
    }

    position: relative;
    justify-content: flex-start;

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    &:nth-of-type(2n+1) {
      margin-left: 0;
    }

    &:hover {
      background: #4C5259;
    }
  }

  li.btn.disabled {
    pointer-events: none;
  }

  li.btn--active {
    @include active-btn;
    pointer-events:none;
    // pointer-events: none;
    &:hover {
      background: $activeColour;
    }

    &:before {
      content: attr(data-content);
      @include flexbox();
      position: absolute;
      font-size: 1.2rem;
      top: 50%;
      left: -10px;
      background-color: white;
      width: 30px;
      height: 30px;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 5px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      color: black;

      @media screen and (min-width: 48rem) {
        width: 40px;
        height: 40px;
        font-size: 1.6rem;
      }
    }
  }

  .selectable{
    pointer-events: all !important;
  }

  @media screen and (min-width: 48rem) {
    @include flexbox();
    flex-wrap: wrap;
    align-items: left;

    li {
      flex: 0 48%;
      margin: 1% 0;
    }
  }
}
