ul.select-score {
  @include list-container;
  padding: 0;
  margin: 2rem auto;

  @media screen and (min-width: 48rem) {
    margin: 4rem auto;
  }

  li {
    cursor:pointer;
    @include flexbox();
    border:1px solid $lightColour;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
    margin: 5px auto;
    width: 100%;
    padding: 10px 0 7px;

    &:hover {
      background: #4C5259;
    }

    &:first-child{
      @media screen and (min-width: 48rem) {
        border-radius: 8px 0 0 8px;
      }
    }

    &:last-child{
      @media screen and (min-width: 48rem) {
        border-radius: 0 8px 8px 0;
      }
    }

    &:not(:last-child){
      @media screen and (min-width: 48rem) {
        border-right: 0;
      }
    }


    @media screen and (min-width: 48rem) {
      font-size: 2.6rem;
      width: auto;
      flex-grow: 1;
      flex-basis: 0;
      margin:0px;
      padding: 15px 0 10px;
    }

    &:first-child {
      margin-left: 0px;
    }

    &:last-child {
      margin-right: 0px;
    }

  }

  li.btn--active {
    @include active-btn;

    &:hover {
      background: $activeColour;
    }
  }
}
