//Free text input
.free-text {
  box-sizing: border-box;
  position: relative;
  height: 200px;
  border-left: 5px solid $activeColour;
  max-width: 700px;

  @media screen and (min-width: 48rem) {
    height: 160px;
  }

  &+p {
    margin: 1rem auto 2rem;
    font-size: 14px;
  }

  &.text-disabled {
    border-left: 5px solid $errorColour;
  }

  textarea {
    background: $white;
    padding: 2rem;
    font-size: 1.6rem;
    line-height: 1.5;
    color: $primaryColour;
    width: 100%;
    height: 200px;
    border: none;
    min-height: 200px;
    max-height: 200px;
    margin-bottom: 1.5rem;
    outline: none;
    resize: none;

    @media screen and (min-width: 48rem) {
      height: 160px;
      min-height: 160px;
      max-height: 160px;
    }
  }
}
