ul.score-answers {
  padding: 0;
  margin: 0 auto;
  position: relative;

  @include list-container;

  li {
    @include flexbox();
    width: 100%;
    margin: .5rem 0;
    border: 1px solid $lightColour;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: auto;
    font-size: 1.4rem;
    padding: 2rem .5rem 2rem 3rem;
    height: 70px;

    @media screen and (min-width: 48rem) {
      height: 86px;
      margin: 1rem 0;
      font-size: 1.6rem;
      padding: 0 2rem 0 4rem;
    }

    position: relative;
    justify-content: flex-start;

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    &:nth-of-type(2n+1) {
      margin-left: 0;
    }

    &:hover {
      background: #4C5259;
    }
  }

  li.btn.disabled {
    pointer-events: none;
  }

  li.btn--active {
    @include active-btn;

    &:hover {
      background: $activeColour;
    }
  }

  @media screen and (min-width: 48rem) {
    @include flexbox();
    flex-wrap: wrap;
    align-items: left;

    li {
      flex: 0 48%;
      margin: 1% 0;
    }
  }
}


.emoji-overlay {

  display: none;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $primaryColour;
  left: 0;

  ul {
    @include flexbox();
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 60%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
  }

  ul li {
    text-align: center;
    border: 0;
    padding: 0;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */

    &:hover {
      background: transparent;
      filter: none;
      -webkit-filter: grayscale(0%);
    }
  }

  ul li img {
    width: 40px;
    margin: 0 auto;
    padding-top: 5px;
  }

  .emoji-label {
    text-align: center;
    top: -10px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 40%;
    background-color: #393F47;
  }

}

.answer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  @include flexbox();
  justify-content: center;
  align-items: center;
  margin: 0 2rem 0 8rem;

  span {
    width: 100%;
  }

  &:before {
    content: '';
    background-image: url('../images/emojis/pointer.png');
    position: absolute;
    font-size: 1.2rem;
    top: 50%;
    background-size: 100%;
    left: -60px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    @media screen and (min-width: 48rem) {
      width: 40px;
      height: 40px;
      font-size: 1.6rem;
    }
  }
}

.btn--Good {
  &:before {
    background-image: url('../images/emojis/Good.png');
  }
}

.btn--Bad {
  &:before {
    background-image: url('../images/emojis/Bad.png');
  }
}

.btn--Great {
  &:before {
    background-image: url('../images/emojis/Great.png');
  }
}

.btn--Okay {
  &:before {
    background-image: url('../images/emojis/Okay.png');
  }
}

.btn--Terrible {
  &:before {
    background-image: url('../images/emojis/Terrible.png');
  }
}
