.progress-container {
  p {
    font-size: 14px;
    text-transform: uppercase;
  }

  .progress-bar {
    background: $white;
    margin: 2rem 10% 0;
    height: 0.5rem;
    position: relative;

    .progress-innerbar {
      position: absolute;
      left: 0px;
      width: 0;
      height: 0.5rem;
      background: $activeColour;
      transition: 500ms all ease-in-out;
    }
  }
}

footer {
  background: $secondaryColour;
  padding: 3rem 0;
  text-align: center;
  margin-top: 1rem;

  @media screen and (min-width: 48rem) {
    margin-top: 5rem;
  }

  p {
    margin: 0;
  }
}
