header {
    background: $white;
    padding: 2rem 0;
    text-align: center;
  
    .logo-desktop {
      display: none;
      margin: 0 auto;
      width: 200px;
      height: 47px;
    }
  
    .logo-mobile {
      display: block;
      width: 25px;
      height: 38px;
      margin: 0 auto;
    }
  
    @media screen and (min-width: 48rem) {
      padding: 3rem 0;
  
      .logo-desktop {
        display: block;
      }
  
      .logo-mobile {
        display: none;
      }
    }
  }
  