.splash-page {
    @include flexbox();
    position: relative;
    min-height: 100%;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    z-index: 2;
  
    h1{
        margin: 0 auto;
        padding: 0 30px;
    }
    hr{
        border: 0;
        height: 1px;
        background-color: $lightColour;
        width: 100px;
        margin: 25px auto;
    }
  
    .container {
      z-index: 2;
      max-width: 700px;
    }
  
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.3;
      background: url(../images/bg-img.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }
  