@mixin list-container {
  @include flexbox();
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin btn-questions {
  @include flexbox();
  cursor: pointer;
  border: 1px solid $lightColour;
  align-items: center;
  justify-content: center;
}

@mixin active-btn {
  border-color: $activeColour;
  background: $activeColour;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
